html {
  font-size: 62.5%;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.021rem;
  color: var(--dark);
  font-variant-ligatures: common-ligatures;
}

/* Colors */
:root {
  --black: rgba(0, 0, 0, 0);
  --dark: rgba(17, 17, 17);
  --grey: rgba(0, 0, 0, 0.55);
  --white: #fff;
  --bg: rgba(242, 242, 242, 1);
  --light: rgba(255, 255, 255, 0.85);
  --opaque: rgba(255, 255, 255, 0.55);
  --dark-border: rgba(0, 0, 0, 0.15);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --black: color(display-p3 0 0 0/1);
    --dark: color(display-p3 0.0667 0.0667 0.0667/1);
    --grey: color(display-p3 0 0 0/0.55);
    --white: color(display-p3 1.0001 1 0.9999);
    --bg: color(display-p3 0.9491 0.949 0.9489);
    --light: color(display-p3 1.0001 1 0.9999 / 0.85);
    --opaque: color(display-p3 1.0001 1 0.9999 / 0.55);
    --dark-border: color(display-p3 0 0 0/0.15);
  }
}
